[2018-02-06 08:57] neilwhitespace opened #1 "Localised string for forced queue cancelling is the wrong way around."
![screen shot 2018-02-06 at 08 55 51](https://user-images.githubusercontent.com/5774929/35850086-9f03647a-0b1b-11e8-83d4-dc408f06ca4d.png)

[2018-02-06 08:59] neilwhitespace opened #2 "No progress notice in status when diff-ing files"
When using the "Compare with remote" feature in Push, there is currently no way to see progress while the file is downloaded to be compared.

[2018-02-06 09:19] neilwhitespace opened #3 "Make upload progress link to log"
Would be good if the upload progress in the status bar could link to open the log display.

[2018-02-06 09:20] neilwhitespace opened #4 "Show watchers in explorer panel?"
Something like the way gitlens shows its status....

![screen shot 2018-02-06 at 09 19 26](https://user-images.githubusercontent.com/5774929/35851131-eb44fe04-0b1e-11e8-9354-0265ad5e4b47.png)

[2018-02-14 14:08] jamesMcMeex opened #5 "Files are being skipped when selecting any action from the VS Code prompt"
Hey Neil,

I'm seeing an issue when uploading a file or folder that is the same on local as on remote, selecting any action (overwrite, overwrite all etc.) from the dropdown prompt in VS Code results is in the files or folders being skipped and not uploading.

Using ```"collisionUploadAction": "overwrite",```  skips the prompt and the file uploads successfully.

Cheers,
James

[2018-02-14 19:09] #1 closed

[2018-02-14 19:09] #2 closed

[2018-02-14 19:09] #3 closed

[2018-02-14 19:09] #4 closed

[2018-02-14 19:12] njpanderson commented on #5
Hey James - This is sorted and will be prepped for release in 1.1.2.

[2018-02-14 19:12] #5 closed

[2018-02-16 15:19] jamesMcMeex opened #6 "Option to remove a file or folder from the upload queue in the explorer window"
Hi Neil,

I've noticed an issue where I can't remove files listed in the upload queue in the explorer.

It would be good to be able to mange the items in this list, if for e.g. you know you don't want to push a certain file that is in the queue by accident.

I came across a scenario today where I changed a file (that was not being watched), then reverted to the original saved version. The file app

[2018-02-16 18:34] njpanderson commented on #6
Good catch. Will add it as an enhancement for the next minor.

[2018-04-04 11:42] zswanson opened #7 "Feature: ssh gateway hosts"
Add configuration ability to tunnel sftp through an intermediate ssh host (a gateway host)

[2018-04-07 07:45] njpanderson commented on #7
Hi there @zswanson - Not quite sure of the mechanics of this but will look and see if the underlying SSH libs support it and let you know.

[2018-04-07 08:03] njpanderson commented on #7
So to clarify broadly what you're asking for, this is the ability to define two SSH servers in your SFTP config and for Push to use the first as an intermediary to the second?

I've had a little look into this and from what I can tell, the feature you're talking about is also referred to as "Connection hopping" by the underlying SSH lib. There's more information here:

https://github.com/mscdex/ss

[2018-04-09 01:46] zswanson commented on #7
Yes typically this is for cases where a network is separated by a 'bastion'
host that you ssh hop through. Not sure about using nc, usually this is
achieved by creating an ssh to the intermediate, then tunneling through
that connection to the remote host.

I had checked around the various VScode extensions and nobody seems to
offer this, but gateway/bastion hosts are quite common in enterprise/clo

[2018-04-09 07:56] njpanderson commented on #7
I'm working on this. It's curently in branch [`try/gateway-ssh`](https://github.com/njpanderson/push/tree/try/gateway-ssh) and you're welcome to give it a bash if you know how to use `vsce` to package up vscode extensions for local testing. (More information about vsce here: https://code.visualstudio.com/docs/extensions/publish-extension — if if you don't fancy that, you can just use the debug mod

[2018-04-10 11:40] zswanson commented on #7
Fantastic I'll take a look! This will be a big time saver for our work flow.

On Mon, Apr 9, 2018 at 03:56 Neil Anderson <notifications@github.com> wrote:

[2018-04-10 20:24] njpanderson commented on #7
No problem - let me know if you manage to test this. I don't have access to a real environment for this, so I've been faking it with a UNIX SSH gateway. Things might go a little differently in windows...

[2018-04-12 13:38] neilwhitespace opened #8 "SFTP - Issue with downloading unreadable remote files"
Tried to download a file which was not readable by the user, and a blank file was downloaded instead of an error being produced.

Subsequently, fixing the permissions and downloading the same file then produced a "cannot access message of undefined" error.

SSH/FC

[2018-04-15 08:35] #8 closed

[2018-04-15 08:36] #6 closed

[2018-04-23 10:51] neilwhitespace opened #9 "Permissions for a +x file being reset"
Unsure if this is an issue specific to +x or if an assumption to ignore permissions setting unless otherwise requested is needed. Investigate.

[2018-04-23 19:45] njpanderson commented on #9
Unable to replicate this. Possibly due to a `fileMode` setting inadvertently migrated from SFTP?

[2018-04-23 19:46] njpanderson commented on #7
Hey @zswanson - Did you manage to test this? Reluctant to release this without someone else having a go with it first.

[2018-04-23 20:09] zswanson commented on #7
Sorry, was out for a week and had to get an environment setup to actually
run this in debug mode. I think I've got the debug extension running now, I
just need to copy in the new settings and give it a shot.

On Mon, Apr 23, 2018 at 3:47 PM, Neil Anderson <notifications@github.com>
wrote:

[2018-04-24 05:08] njpanderson commented on #7
That's totally fine! Just let me know if you do manage to test it, otherwise I'll give it a few more run throughs in different envs and see how it goes before releasing it.

[2018-04-24 07:54] neilwhitespace commented on #9
Issue seems to be related to the environment and not Push itself. Cannot replicate this anymore (although the file did lost the +x when I'd logged in, but likely not a Push issue here).

[2018-04-24 07:55] #9 closed

[2018-04-24 11:36] zswanson commented on #7
Ran it this morning, works like a charm!

On Tue, Apr 24, 2018 at 1:08 AM, Neil Anderson <notifications@github.com>
wrote:

[2018-04-24 18:55] winter-mike opened #10 "Ability to clear entire push queue from context menu"
Would be nice to have the ability to clear the entire push queue within the context menu when right clicking on an item in the queue.

[2018-04-25 05:16] njpanderson commented on #10
It would help to have a method for clearing the queue. Will add it to the next milestone.

[2018-04-25 12:10] zswanson commented on #7
I have 2 different bastions, both linux, that serve a set of linux clusters
behind the bastion. I used ssh keys to access the bastion and user/password
for the hosts in the dmz (which are temporary VMs for testing). Tested on
both bastions to a couple of different hosts on the backend, worked fine.

On Wed, Apr 25, 2018 at 1:23 AM, Neil Anderson <notifications@github.com>
wrote:

[2018-04-25 13:07] njpanderson commented on #7
That's great, thanks a lot for confirming. It's pegged for release v0.3 which I'll try to get out in the next couple of weekends.

[2018-04-25 13:22] neildcuk opened #11 "Add counter for remaining items in queue to status bar"
Somewhere next to the animating progress item would be good.

![screen shot 2018-04-25 at 14 20 21](https://user-images.githubusercontent.com/5774929/39248472-193f4334-4894-11e8-8754-166cfbea4b30.png)

[2018-04-28 10:17] #11 closed, assigned to njpanderson

[2018-04-28 10:17] #10 closed, assigned to njpanderson

[2018-05-03 02:34] joshuaiz opened #12 "Push not watching changed files from CodeKit"
- Push version: `0.3.0`
 - VS Code version: `1.22.2`
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**
1. Edit .scss file
2. File is processed by CodeKit and changes output to .css file
3. Push does not recognize changed .css file

**Any other information?**
I even tried setting my /css directory to be watched by Push and still it cannot track any changes fr

[2018-05-03 05:25] njpanderson commented on #12
Thanks for the report Joshua - I'll look into it. For now, can you confirm two things:

1) That your .scss file and /css dir are within the project workspace, and
2) At what level they are sitting respective to the .push.settings.json file? (A quick screenshot or `tree` output of the dir would be useful.

Regarding CVS upload, Push does actually have a similar feature — Just look for "Upload all g

[2018-05-03 05:57] joshuaiz commented on #12
We use our own starter theme for every WordPress project and the tree is shown in the screenshot below. In my case, I am usually working on .scss files which get outputted to the /css directory after processing by CodeKit.

<img width="352" alt="screen shot 2018-05-03 at 12 53 57 am" src="https://user-images.githubusercontent.com/1096738/39561635-81fc68ce-4e6c-11e8-8a2c-c8d047b6e071.png">

I tried

[2018-05-03 06:47] njpanderson commented on #12
The location of .push.settings.json depends on where you want the local root to be, and will only affect watchers in that there needs to be a settings file at or above the level of the watched file/folder. The setup you've screenshotted above seems to be ok at first glance.

I'm having trouble replicating this issue with either files or folders, so just to make sure we're trying the same things, c

[2018-05-03 16:02] joshuaiz commented on #12
I created a watcher for the library/css directory in the Command Palette and yes it shows up:
<img width="364" alt="screen shot 2018-05-03 at 10 57 09 am" src="https://user-images.githubusercontent.com/1096738/39588244-082a4084-4ec1-11e8-9a79-2e078a2fbfde.png">

Then I made some changes to _base.scss which triggers CodeKit to process and output a new style.css file to library/css. Here is the outp

[2018-05-03 17:50] njpanderson commented on #12
Can I ask what triggered the two uploads for style.css and style.css.map in the log? Are you doing that manually?

Just to clarify, in case it's not obvious - the watcher doesn't add anything to the queue, it uploads files immediately when they've changed. I have a feeling this might just be a misunderstanding as to what the watcher does?

[2018-05-03 18:11] joshuaiz commented on #12
Ahhhhhh so in that case it *is* working, as long as I enable the watcher on the /css directory. Sorry for the misunderstanding. I guess I would rather it added the watched files to the queue rather than uploading them automatically.

With that, it would be great if Push just tracked changed files more automatically and added them to the upload queue - either via git (as with SFTP in Sublime) or so

[2018-05-03 18:17] njpanderson commented on #12
That is definitely something I can consider. Should be an easy enough job to make an option to only add watched files to the queue, as opposed to uploading them immediately. Leave it with me and I'll see what I can do for a future release.

[2018-05-03 19:31] joshuaiz commented on #12
Thanks for being so responsive. I tried a bunch of SFTP extensions and yours is already the best by far. Will close this now and keep an eye out.

[2018-05-03 19:31] #12 closed

[2018-05-03 21:15] njpanderson commented on #12
@joshuaiz just a note to say that this was quite easy to implement and will be pegged for v0.4. Thanks for the input and feedback!

[2018-05-05 17:39] mikemak-es commented on #10
all good, thanks @njpanderson 👍

[2018-05-06 18:40] njpanderson opened #13 "Add AWS S3 support"
I am considering adding s3 support to Push for v0.5.

I'll be using the following libraries:
https://www.npmjs.com/package/s3fs (which looks to do a good job of implementing known `fs` functions).
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html

It will hopefully allow all service features and support basic file mode operations (such as is s3's abilities).

If anyone has any sugges

[2018-05-07 13:26] jimmycook opened #14 "Command pallet not working"
Push version: 0.4.0
VSCode Version 1.23.0 (1.23.0)

Upload and watch commands are through an error when used from the command pallet, but they're working on sidebar right click.

The error is 'Running the contributed command:'push.upload' failed.'

I cloned the repo and had a look at the code/did some debugging with breakpoints and as far as I can see it is getting undefined as the parameter to th

[2018-05-07 18:10] #14 closed

[2018-05-07 18:10] njpanderson commented on #14
Now fixed in 0.4.1. Do let me know if you have any further issues.

[2018-05-08 15:51] reverdin opened #15 "Queue not working anymore"
Thank you for reporting an issue! Please make sure you get the following information before submitting:

 - Push version: `0.4.1`
 - VS Code version: `1.23.0`
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**
When I save a file, it is not queued anymore. Started this morning and was working fine yesterday.
I tried to uninstall and reinstall push plugin.
I tr

[2018-05-08 16:27] njpanderson commented on #15
Thanks for reporting, @reverdin - Will have a look tonight and let you know.

[2018-05-08 16:52] scottyinzeo opened #16 "No longer placing modified files into Upload Queue"
- Push version: 0.4.1
 - VS Code version: 1.23.0
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**
1. Open a Workspace/Project - /webroot/project1/
2. Create the initial Push config file (SFTP) - /webroot/.push.settings.json
[code]
3. Modify a file within /webroot/project1/ or /webroot/ and save the file. The file does not appear within the Upload queue sect

[2018-05-08 17:31] njpanderson commented on #16
Hey @scottyinzeo - thanks for the report! It's a duplicate of #15 so I'm going to close this one down.

[2018-05-08 17:31] #16 closed

[2018-05-08 17:32] #15 closed

[2018-05-08 17:33] njpanderson commented on #15
Hey @reverdin - This is fixed in 0.4.2. Thanks again for the report.

[2018-05-09 04:51] reverdin commented on #15
Hello @njpanderson. It is working perfectly. Thanks for the quick fix and for your very useful plugin.

[2018-05-09 08:07] njpanderson commented on #15
No problem, @reverdin - I'm looking to get a full suite of basic unit testing in place before any more releases now, as reliability is crucial in an extension like this.

[2018-05-10 10:53] neilwhitespace opened #17 "Better handle queued files which have since been deleted"
- Push version: latest
 - VS Code version: latest
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**
 - queue a file
 - delete the file
 - upload the queue. if the deleted file is no longer present, a node error is exposed and the queue stops.

[2018-05-10 10:55] neilwhitespace opened #18 "Consider removing items from the upload queue if they've been uploaded elsewhere"
Thank you for reporting an issue! Please make sure you get the following information before submitting:

 - Push version: `0.4.2`
 - VS Code version: `1.23.0`
 - Have you disabled all other extensions and can replicate: Yes

If a file is in the upload queue and it is uploaded by other means (manual upload, watch) then maybe it should be removed from the upload queue?

[2018-05-17 15:19] reverdin opened #19 "Command: "Create/edit Push configuration" not working with no files open"
Thank you for reporting an issue! Please make sure you get the following information before submitting:

 - Push version: `0.4.2`
 - VS Code version: `1.23.1`
 - Have you disabled all other extensions and can replicate: [No]

**Steps to replicate:**
If I go to Command Palette and choose "Push: Create/edit Push configuration" nothing happens. If I do it through the context menu in the file explorer

[2018-05-17 18:35] njpanderson commented on #19
Should be fixed and pushed to 0.4.3. Thanks for reporting!

[2018-05-18 06:45] reverdin commented on #19
Hi thanks for this update but it is not fixing the problem in my case. Still nothing happens from the Command Palette. This is only happening for the "Push: Create/edit Push configuration". All other commands seem to work. But when I use this command nothing happens.
From context menu:
If no file exists it asks for a filename to create
If file exists it opens the file

From Command Palette:
Nothin

[2018-05-18 16:16] njpanderson commented on #19
Interesting - just so I understand the issue better, does this issue by any chance occur when you don't have any files open in vscode, or does it happen while you're editing a file too?

[2018-05-18 16:31] reverdin commented on #19
Hello. Just tested and as soon as I have an opened file in the editor, the Command Palette "Push: Create/edit Push configuration" is working as expected. But with the VS Code Welcome page or no file opened in the editor, nothing happens with the Command Palette.

I think the Command takes the path of the active opened file in the editor and not the path of the folder panel so if not file is opened

[2018-05-18 16:45] njpanderson commented on #19
That sounds right to me, but the confusion is my fault. Will make it much clearer and/or just make it work without a file open. Leave with me and I'll have resolved in the next minor version. (I don't think this needs to be a patch.)

Thanks again for reporting!

[2018-05-22 14:23] chetweewax opened #20 "Potential issues with uploading to mapped drives in Windows"
- Push version: 0.4.3
 - VS Code version: 1.23.1

I have set up a basic push.settings.json file as follows

{
	"service": "File",
	"File": {
		"root": "/Production"
	}
}

The file structure on my local server is essentially

- D:\Server\ProductionBeta
- D:\Server\Production
- D:\Server\push.settings.json

I have two sites set up one with the root in each of those folders.
What am I missing, since

[2018-05-22 18:22] njpanderson commented on #20
The error you're getting usually occurs when a file matches the ignoreGlobs filters which are set at the workspace/settings level. Do you have the settings handy that you can paste in here? "index.php" is not normally ignored by default.

[2018-05-22 18:25] chetweewax commented on #20
WorkSpace settings
{
	"folders": [
		{
			"path": "Production"
		},
		{
			"path": "ProductionTest"
		}
	],
	"settings": {
		"njpPush.ignoreGlobs": [
			"**/.DS_Store",
			"**/Thumbs.db",
			"**/desktop.ini",
			"**/.git/*",
			"**/.svn/*"
		],
		"files.exclude": {
			"**/.git": true,
			"**/.svn": true,
			"**/.hg": true,
			"**/CVS": true,
			"**/.DS_Store": true
		},
		"njpPush.queueCompleteMes

[2018-05-22 18:30] njpanderson commented on #20
Thanks, @chetweewax  - And just a few more points to clarify:

 - Is the settings file actually `push.settings.json` or was that just a mistype above? (it should start with a dot, according to your current settings).
 - What were you trying to upload when you received the above error?
 - Do you get this issue when uploading a single file (and does it matter if it's called "index.php")?
 - Are ther

[2018-05-22 18:43] njpanderson commented on #20
Thanks @chetweewax - I'll have a look into it. I suspect this is a Windows specific issue. Will keep you posted!

[2018-05-22 18:45] chetweewax commented on #20
Just as another note, when i right click a file and choose "compare with remote" I get the error "Directory is outside of root and cannot be created."

[2018-05-22 19:01] njpanderson commented on #20
That might be due to the file service `root` property not being valid. In windows, would the root path for file not need be something more like `X:\SomeFolder\SomeOtherFolder`? Is the target root another windows drive?

[2018-05-24 05:09] njpanderson commented on #20
Hey @chetweewax - I've been unable to replicate this using Windows 10 and the latest vscode/push installs.

Would you do me a favour and send me a screenshot of the layout of your project, including the push settings file (removing any sensitive data), as well as confirm the above — that the destination root path is actually accessible?

[2018-05-24 08:49] AceTheWiz commented on #20
Hi. I have a similar challenge with the File service.
Win 7 x64, vscode v1.23.1
My push.settings are
[code]
My local folder is
`C:\Projects\BMS\website`
Remote folder is a mapped network drive.
`y:\bms\`
The file i'm uploading
`C:\Projects\BMS\website\SGD\Processes\Production\Operations_South_Africa\Manufacturing\LRU_Production\LRU+Build+History\41587_LRU_Build_History_SGD.htm`
I get this error
`⚠

[2018-05-24 13:09] njpanderson commented on #20
Thanks guys - will look into this further when I get a chance tonight.

[2018-05-24 19:51] njpanderson commented on #20
Have had another go on this using Windows 10:

A workspace path of the following:
[code]

The contents of `.push.settings.json` is:
[code]

All three variations of `root` seemed to upload `test-file.txt` to the location `E:\Projects\push-test-windows` successfully in my case. In this test, `E:\\` is a mapped drive.

Can anyone give a similar scenario a go and see if the error occurs with them as w

[2018-06-03 13:19] AceTheWiz commented on #20
I did some debugging and found this:
1. The copy works just fine if the destination folder is empty (i.e. No sub folders or files)
2. Subsequently when trying to "overwrite" destination folders and files, it fails with the "EEXIST" error. (This is actually expected BUT I have set the 'collisionAction' option to "overwrite" which is supposed to handle the EEXIST error as I understand it ?)

I also

[2018-06-03 19:19] njpanderson commented on #20
Thanks for the extra details, @AceTheWiz - I've had a look and made some minor changes to the way file caching, comparison and transfer works in and around the File service module.

If you could, would you be so kind as to try out the latest version within the `dev` branch and see if you can reproduce the issues please?

[2018-06-04 12:53] AceTheWiz commented on #20
Great thanks, Will do.

[2018-06-05 06:26] AceTheWiz commented on #20
Looking good ! Just one issue still. The extra parameter is still there.
This causes the collisionUploadAction option to be ignored so essentially it opens the user prompt regardless.

https://github.com/njpanderson/push/blob/b27976fe1e6532625a91228e3ec0efdfe54e2ff5/src/services/File.js#L50

When I remove this line it works fine.

Looking forward to update. Thanks for your time and effort.

[2018-06-06 05:18] njpanderson commented on #20
Good spot - that's removed from there too. Fancy having another go from the `dev` branch?

[2018-06-09 11:46] njpanderson commented on #20
This is hopefully fixed in release v0.4.4. If anyone else has further problems, please feel free to create a new issue. Thanks all!

[2018-06-09 11:46] #20 closed

[2018-06-09 11:47] njpanderson commented on #19
Apologies - didn't get around to sorting this in 0.4.4. Will peg it for 0.4.5 though.

[2018-06-20 19:54] bugs181 opened #21 "Ignore Glob pattern does not seem to be working"
Thank you for reporting an issue! Please make sure you get the following information before submitting:

 - Push version: `0.4.4`
 - VS Code version: `1.24.1`
 - Have you disabled all other extensions and can replicate: [No]

**Steps to replicate:**
I've tried the following without success.

    "SFTP": {
        "ignoreGlobs": ["**/node_modules"]
        "ignoreGlobs": ["**/node_modules/*"]

[2018-06-21 19:33] njpanderson commented on #21
SFTP — or for that matter, any service settings — don't take an option called ignoreGlobs. That option is defined at the global or workspace level. If you want to set it, use Code > Preferences > Settings (cmd-, on a mac) and add something like the following:

[code]

Which will overwrite the default ignoreGlobs setting for Push and add "node_modules" to the list.

If you don't want to do this at

[2018-07-14 16:40] #21 closed

[2018-07-17 19:41] joshuaiz opened #23 "Save watched folders on a per-project or global level"
This is just a feature request:

It would be great if Push remembered the watched folders so I don't have to set them up every time I open a project. You could just set it up once and then it follows the project so perhaps something in the .json settings file. As it is now, I have to set the watch folder every time I open a project.

Alternatively (or additionally), it would be great to be able to

[2018-07-17 21:48] njpanderson commented on #23
All sound pretty sensible. I’ll have a look into this on the weekend and let you know!

[2018-07-17 21:49] joshuaiz commented on #23
Sweetness - thanks!

[2018-07-22 18:01] njpanderson commented on #23
Ok @joshuaiz - I had a look this weekend and while it is definitely possible, it will require a moderate amount of thought on my part before implemented correctly (mainly due to the way that folders can be changed ad-hoc within a workspace without changing the contextual workspace itself).

In doing research for this (and another potential feature), I spent a bit of time already this weekend actua

[2018-07-22 18:09] njpanderson commented on #19
Released a fix for this in 0.4.5. Thanks for reporting!

[2018-07-22 18:09] #19 closed

[2018-07-22 19:05] joshuaiz commented on #23
No worries. Thanks so much for the effort.

[2018-07-28 20:46] njpanderson commented on #23
@joshuaiz I've done a bit of work on this and have a revision ready to test. If you fancy it, could you give the tip of `persistent-watchlist` branch a spin in your vscode? Let me know if you need guidance on testing extensions.

[2018-08-06 14:38] ph55 opened #24 "autoUploadQueue doesn't work"
Thank you for reporting an issue! Please make sure you get the following information before submitting:

 - Push version: `0.4.5`
 - VS Code version: `1.25.1`
- OS: `Windows`

**Steps to replicate:**
![image](https://user-images.githubusercontent.com/1386622/43723058-6e8b11f4-999f-11e8-9213-ace5271afdce.png)

[2018-08-06 19:39] njpanderson commented on #24
Hey there @ph55 - From the looks of it you've got the setting within a service settings file, and not the VS Code workspace/global settings. The autoUploadQueue setting is not per-service. See the README in the root of this repo (or the extension's page in vscode) for more information.

[2018-08-06 19:39] #24 closed

[2018-08-07 06:44] njpanderson commented on #23
Note: This work has been moved to `develop`.

[2018-08-08 02:06] joshuaiz commented on #23
Hey @njpanderson, thanks for the update! Would love to try it out.

Yeah, could you give me a little guidance on testing extensions? I've never done that before and don't want to break anything.

[2018-08-09 06:33] njpanderson commented on #23
Absolutely - either follow the "Creating a development environment" within the [CONTRIBUTING](https://github.com/njpanderson/push/blob/develop/.github/CONTRIBUTING.md) doc using the `develop` branch, or install the following `.vsix` file [here](http://neilinscotland.net/push/push-0.4.6-rc1.vsix).

*Installing an ad-hoc extension*

1. Switch to the Extensions section in the sidebar
2. Using the con

[2018-08-10 19:31] tbonzai opened #25 "File configuration template settings object name"
- Push version: `0.4.5`
 - VS Code version: `1.25.1`
 - Have you disabled all other extensions and can replicate: [Yes|No] Yes

**Steps to replicate:**
1) Use the "Create/Edit Push configuration" option to create a new configuration file.
2) Accept the default file path.
3) Choose "File" as the type
4) Notice that the service gets the name "File", but the service settings object created below it h

[2018-08-11 07:15] njpanderson commented on #25
Thanks for reporting @tbonzai - Will look into it.

[2018-08-11 07:29] njpanderson commented on #25
@tbonzai - I've push a fix to `hotfix/file-template-fixes` - Would you care to review, or shall I get this deployed?

[2018-08-11 13:34] tbonzai commented on #25
@njpanderson - Thanks for the fast turn around and for the great plugin itself. I don’t have the capability to test it. I’m sure you’ve tested it yourself, so go for the deploy.

[2018-08-11 14:39] #25 closed

[2018-08-11 14:39] njpanderson commented on #25
Pushed and deployed, thanks @tbonzai

[2018-08-12 09:38] ph55 opened #26 "A transfer service was defined but no configuration could be found within the file at ".push.settings.json""
- Push version: `0.4.6`
 - VS Code version: `1.25.1`

Suddenly extension stopped working without changing anything.
I guess it could be update.

Error thrown:
[code]

Settings file exists and was working.
[code]

[2018-08-12 11:08] njpanderson commented on #26
Getting this too, and it's affecting tests. Thanks for letting me know, and I'll try and get a fix out in the next couple of hours.

[2018-08-12 17:16] njpanderson commented on #18
(Done in `18c776c`)

[2018-08-12 17:16] #18 closed

[2018-08-15 07:38] #26 closed

[2018-08-17 15:39] mikeburgh commented on #23
I just gave this a test, works great for persisting the watchers!

[2018-08-17 16:05] mikeburgh opened #27 "Uploading a folder ignores the ignoreGlob setting"
When watching a folder the ignoreGlob setting is followed, but if I right click and select to upload a folder (eg the root) the glob setting seems to be ignored (all the .git files for example get uploaded).

 - Push version: `0.4.6_rc1`
 - VS Code version: `1.26.0`
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**
Right click folder and select upload, it wi

[2018-08-17 16:50] joshuaiz commented on #23
Sorry for my ignorance but what are the settings to enable persistent watchers and global watched folders?

[2018-08-18 06:39] njpanderson commented on #23
Thanks @mikeburgh !

@joshuaiz - No problem - have a look at the README in `develop`, and see the [Watcher Persistence](https://github.com/njpanderson/push/blob/develop/README.md#watcher-persistence) section.

[2018-08-18 06:45] njpanderson commented on #27
Hmm, I'm not seeing this behaviour in the HEAD of `develop`:

[code]

And an `ls` of that folder produces the following:

[code]

This is based on the default Push ignoreGlobs settings:

[code]

[2018-08-20 15:59] mikeburgh commented on #27
Yes, sorry about wasting your time..

I tried again today and cannot get it to do it again..

So must have been something messed up on my end. I will keep an eye out if it happens again, and try and dig in more to see what's what.

[2018-08-20 15:59] #27 closed

[2018-08-20 16:05] mikeburgh opened #28 "Push deleted actions"
A feature request to handle pushing deleted file (or rather deleting the file) from the remote side ?

[2018-08-21 07:08] njpanderson commented on #28
This is something I’ve had in mind for a while and have laid basic groundwork for in terms of reliability. The unit tests need to be fleshed out such that they cover at least all functions relating to raw transfers before I embark on this feature, though. Time will tell!

[2018-08-23 18:51] mikeburgh commented on #23
Point 2, did you make it: "njpPush.persistWatchers": true ? I added that to my user settings and it worked fine.

[2018-08-23 19:16] joshuaiz commented on #23
No joy. I switched it to "njpPush.persistWatchers": true, set folder to 'Watch Folder With Push', quit VS Code and re-opened and nothing under the 'Watching' area at all.

[2018-08-24 18:58] njpanderson commented on #23
I can't seem to replicate this in 0.5.0 rc1 - it's possible there was a bug in the previous version. Here's a new vsix file to try:
http://neilinscotland.net/push/push-0.5.0-rc1.vsix

Give this a go, and see how it goes. The only thing you should need to do is enable watcher persistence with the setting you used.

[2018-08-26 16:42] frufin opened #30 "French translation"
I would like to add a french translation to your project.
If interested, let me know how to help...

[2018-08-26 18:28] njpanderson commented on #30
Hi @frufin - That would be fantastic, of course! I am about to release 0.5.0 and with it will come a bunch of new localised strings. I'll stick another note in here when that version is out and we can talk about how you can contribute. For now, I'd review the `src/lang/en_gb.js` file and get a feel for what you'd need to edit.

Generally speaking though, it would consist of you forking the repo, m

[2018-08-27 22:47] njpanderson opened #31 "Windows compatibility issues (glob, paths)"
- Push version: `0.5.0`
 - VS Code version: `~`

There is a known issue with regards to glob paths and remote root path formation in the SFTP service. I am looking into this and will have a fix out in the next couple of days.

[2018-08-28 06:17] njpanderson commented on #31
Should be resolved in 0.5.1.

[2018-08-28 06:17] #31 closed

[2018-08-28 15:10] neilwhitespace opened #32 ""Select service environment..." command producing an error on file outside of workspace"
- Push version: `0.5.1`

**Steps to replicate:**
1. Open file outside of the workspace
2. Select "Select service environment..." comment with file selected.

[2018-08-28 16:27] neilwhitespace opened #33 "Output window is opening regardless of status"
- Push version: `0.5.0`

**Steps to replicate:**
1. Upload a file

Looks like the output window is appearing even if there were no errors or important information.

[2018-08-28 18:34] #32 closed

[2018-08-28 18:34] #33 closed

[2018-09-16 10:05] njpanderson commented on #30
@frufin - If you would like to add translations, please feel free to start within a fork of the repository.

Please have a read up of the "Contributing language files" guide within the [CONTRIBUTING.md](https://github.com/njpanderson/push/blob/develop/.github/CONTRIBUTING.md) file.

If you are having any trouble understanding the context of the english or how the replacement variables (${}, p{} et

[2018-09-18 21:02] chrischain opened #34 "Push stops searching for config files at current workspace root"
- Push version: 0.5.2
 - VS Code version: 1.27.2
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**

1. Create a .push.settings.json(c) file at /www/mysite/.
2. Navigate to a subfolder of mysite and open VS Code (i.e. /www/mysite/content/reports/)
3. Attempt to upload a file.  You should receive the error: "A settings file could not be found within your proje

[2018-09-19 05:44] njpanderson commented on #34
Thanks @chrischain - if you're able to, can you clone Push down, switch to the `feature/try/unlimited-traversal` branch and give it a bash with the vs code debugger?

If you're unable to do this, I can provide a vsix file of the extension in that state.

[2018-09-29 19:16] njpanderson commented on #34
@chrischain - Are you able to test this?

[2018-09-30 16:41] njpanderson commented on #34
Ok no problem - just let me know if you manage to!

[2018-10-12 00:55] scottyinzeo commented on #34
hey guys : I'm pretty new to this debugging stuff, and didn't completely understand your instructions @njpanderson , but here is what I did to "debug":

1. Cloned the push repo.
2. Opened vscode and added the cloned push folder to the workspace.
3. Press F5 to start debugging.
4. Opened one of my projects that I know has a config file in it's parent's root folder:
[code]

5. Right-clicked on a fil

[2018-10-23 15:59] joshuaiz commented on #23
Just wanted to add that this is working great! Thanks for adding this.

[2018-11-03 09:08] njpanderson commented on #34
Ok - I have a feeling you were not in the `unlimited-traversal` branch, @scottyinzeo - I'll be merging it into `develop` tonight which you can feel free to re-test. I've had more testing done myself and am relatively happy with it working so it'll likely end up in a new Sunday/Monday release.

[2018-11-06 20:04] njpanderson commented on #34
This is now in v0.6.0 - feel free to create a new issue if you have any problems!

[2018-11-06 20:04] #34 closed

[2018-11-06 22:14] chrischain opened #35 "Push cannot find settings file at all after version 0.6.0 update"
- Push version: `0.6.0`
 - VS Code version: `1.28.2`
 - Have you disabled all other extensions and can replicate: [No]

I've set "njpPush.limitServiceTraversal": false in my settings.json, but I'm still getting the error "_A settings file could not be found within your project. Have you created a file matching ".push.settings.json*_" yet?" even though the directory directly above the root has a .p

[2018-11-07 06:46] njpanderson commented on #35
Just to clarify @chrischain - What is the name of your service file and where is it in relation to a file that you're uploading?

The following template might help produce a tree view:

[code]

Can you also confirm that the service file is well formed and the name is supported by your glob settings (`settingsFileGlob` / `settingsFilename`).

[2018-11-07 08:58] martbean commented on #35
I had the same issue with Push 0.6.0 on Windows 10 but can confirm that v0.6.1 is working correctly. Thanks!

[2018-11-07 17:02] chrischain commented on #35
**I can confirm that it is now working as expected for me as well.**  Thanks for the quick fix, Neil!

Just for information, and to answer your questions - here is a tree that represents my setup:

`
/www
├── east
│   ├── .push.settings.jsonc
│   └── lots
│   └── of
│   └── other
│   └── dirs
│   └── app <workspace root>
│       ├── another-file.txt
│       └── another-file.jpg
│   └── anotherdir

[2018-11-07 19:55] njpanderson commented on #35
No problem @chrischain — No worries about the pint, just glad it's all working for you!

[2018-11-07 19:55] #35 closed

[2018-11-09 10:02] neilwhitespace opened #36 "Active env not showing immediately after switching"
- Push version: HEAD
 - VS Code version: HEAD

The active editor needs to be changed after switching environments before it shows in the status bar.

[2018-11-13 21:22] timothevs opened #37 "macOS: unable to use RSA private key - Unsupported key format"
- Push version: `0.6.1`
 - VS Code version: `1.29.0`
 - Have you disabled all other extensions and can replicate: [Yes]

I generated a private/public key pair on my new Mac -
`ssh-keygen -t rsa`

The private key is present in my home folder on macOS 10.14.1, and I have the correct paths set in the .push.settings.jsonc. Yet whenever I try to save and upload the file in the queue, I get the followin

[2018-11-14 13:56] timothevs commented on #37
Yep, no issues at all there - the following command logs me in with/without the keyphrase password (as configured)

ssh timothevs@<ip> -p 8190 (custom port - also defined in the settings of the plugin).

[2018-11-14 19:23] njpanderson commented on #37
Can you please:

1) Paste the contents of your `.push.settings.jsonc` (redacting anything sensitive) and any Push related settings within your workspace.
2) Generate a new key pair using the same commands (saving into new files) and send them to me? Feel free use something like paste.ec as they won't get used for anything except my own tests.

Thanks!

[2018-11-14 19:37] timothevs commented on #37
Sure! Here's the json file https://pastebin.com/tgR7xDCb, and here's the push related settings in settings.json https://pastebin.com/mcqVubxF

Any secure way of getting the keypair to you? I am a little wary of posting them here.

[2018-11-14 19:42] njpanderson commented on #37
If you stick them on paste.ec with a 1 day expiration that should be fine. Assuming you're generating a new keypair that isn't in use anywhere, then there's no security issue.

Just going on what you've sent me so far, it looks like the path you have for your key pair isn't standard (`/Volumes/Document/Home/.ssh/id_rsa`) - Can you try setting this path in the `njpPush. privateSSHKey` workspace set

[2018-11-14 20:04] timothevs commented on #37
Sure, here they are - https://cl.ly/e01d81836fcc Please let me know when you have it, and I will delete the same.

As for the path, that's the first thing I tried. Actually with, or without, it still just looks in /Volumes/Document/Home/.ssh/id_rsa

I tried setting privateSSHKey to the path, and setting the privateSSHKeyPassphrase, to no effect. It seems like Push can find the key just fine.

[2018-11-14 20:08] njpanderson commented on #37
Got that now - will have a look and get back to you. Cheers!

[2018-11-14 20:09] timothevs commented on #37
Just so you know, the username in the example jsonc has been changed. The name in the id_rsa.pub is the correct one.

[2018-11-14 20:11] njpanderson commented on #37
Thanks for the note - I believe the name on the end of the public key is relatively meaningless anyway - it's just used as a memo to sysadmins who need reminded who's key it is.

[2018-11-15 06:43] njpanderson commented on #37
Ok this appears to be an issue with newer Mac OS versions creating keys by default in the newer RFC4716 format. This format is as yet unsupported by the version of the underlying SSH library Push uses, so for now, you'll need to generate the key using the older PEM format (which is still being widely used, regardless). You can do this like so:

[code]

This will generate a key that instead of star

[2018-11-15 13:16] timothevs commented on #37
Brilliant! That fixed it. I had a sneaking feeling it had to do with my version of macOS. Glad that you figured it out. Thank you for the excellent plugin!

[2018-11-15 13:16] #37 closed

[2019-01-12 09:20] njpanderson opened #38 "Show watching files in status bar?"
Can the status bar show files being watched in some form?

[2019-01-12 09:24] njpanderson opened #39 "Allow files/folders to be watched based on settings in the service file"

[2019-01-22 06:32] 1600 commented on #27
having the same issue here.

[2019-01-23 08:15] njpanderson commented on #27
Hey @1600 - thanks for the report - this is a closed issue so if you're having troubles, please start a new issue with version, steps to replicate etc. Thanks!

[2019-01-30 09:52] neilwhitespace opened #40 "Create warning/safety switch for environments"
Would be good if there was some kind of switch that can apply to environments in order to warn users when the environment is active after x amount of inactivity:

- A `warn: true` setting per environment.
- If this is on, then the following could occur:
  - After X minutes of inactivity, an interstitial dialog appears warning users about the environment on a new transfer.
  - After (X / 2) minutes

[2019-01-30 09:54] neilwhitespace opened #41 "Potential issue with downloading large numbers of files"
- Push version: `0.6.1`
 - VS Code version: `~`
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**
Download a folder containing many files.

**Any other information?**
Push appears to stall.

[2019-02-02 10:04] njpanderson commented on #41
Cannot replicate in dev `0.6.2-rc2` - downloaded just under 1400 files with success.

Please re-test in situ using next release.

[2019-02-04 10:14] njpanderson opened #43 "Push v0.6.2 not working/activating!"
First of all, thank you all for using Push.

I have been informed of an issue with v0.6.2 not correctly instantiating in vscode. This was due to an odd dependency issue which unfortunately was not being caught in testing. I will investigate fully tonight.

Suffice to say a new version has been release (v0.6.22) which has fixed this. Please update your Push extension if you are having issues.

[2019-02-04 17:19] GusSalvador commented on #43
Seems to still not be working for me.
I'm on version 0.6.22 and unable to use Push

`command 'push.createServiceConfig' not found`

[2019-02-04 19:22] njpanderson commented on #43
Hey @GusSalvador - can you provide some more detail please? I've had a bash at recreating this with the "Create/edit Push service configuration" command but everything seems to be working.

[2019-02-04 21:16] GusSalvador commented on #43
Mac OS 10.13.6
Code Version 1.23.1 (1.23.1)
Push v0.6.22

I've tried reinstalling Push but it's as if it's not installed.....I don't see any of the commands or context menus.

Let me know if there's something more specific I can provide or test.

[2019-02-04 22:02] njpanderson commented on #43
How strange - this is the same issue but I'd fixed it in 0.6.22 - can you try starting code in `--verbose` mode using the command line, and checking for errors which appear relating to Push?

On a Mac, the command would be `code --verbose`.

[2019-02-05 13:11] robertkent87 commented on #43
Output I get
`[14881:0205/130206.618678:INFO:CONSOLE(270)] "%c[Extension Host] %cActivating extension 'njp-anderson.push' failed: Unexpected token .... %c(at Object.showMessage (/private/var/folders/yk/0x3c9x513px_cb991y1ky3900000gr/T/AppTranslocation/D2599D18-DDAC-4601-AC97-71CBBEBB5739/d/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/node/extensionHostProcess.js:786:926))", sourc

[2019-02-05 14:17] robertkent87 commented on #43
Updated Visual Studio Code to 1.30.2 and the issue is resolved

[2019-02-05 17:14] GusSalvador commented on #43
Updating to 1.30.2 also resolved my issue.

Oddly VCode was not able to update because I had been running it from my Downloads folder.  Once I moved it to my applications folder it was able to successfully update.

[2019-02-05 19:23] njpanderson commented on #43
Thanks for the comments, all - have updated the engine requirements in v0.6.23.

[2019-02-05 19:23] #43 closed

[2019-02-05 19:34] #41 closed

[2019-03-08 19:16] scottyinzeo opened #44 "TypeError after VSCode Update to 1.32"
- Push version: 0.6.24
 - VS Code version: 1.32.1
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**
- Modify any file locally and save it.
- Upload the file to your remote server using keyboard shortcut, right-click menu, etc.
- After the file is uploaded, the Console displays with the error message: **TypeError: vscode.window.createStatusBarItem is not a co

[2019-03-09 19:30] njpanderson commented on #44
Thanks for reporting @scottyinzeo - I believe the cause here is an errant `new` keyword in utils.js:80:

[code]

Although I get no errors in any context, and removing the `new` oddly doesn't seem to change the behaviour at all - can you please clarify how you're making an error appear and how it might be affecting the UI?

[2019-03-11 15:08] scottyinzeo commented on #44
- Open a new workspace in vscode
- Add folder to workspace or open an existing project (if using project manager) containing the Push settings file (.push.settings.jsonc)
- Open a file, modify and save it
- An icon in the status bar appears from Push stating there is one file ready to upload
- Press CTRL-ALT-U (windows) to upload the file -> file uploads, but Console/Output panel appears stating t

[2019-03-11 20:25] njpanderson commented on #44
Should be all sorted now @scottyinzeo - Thanks for the bug report. Let me know if `0.6.25` doesn't fix it!

[2019-03-11 20:26] #44 closed

[2019-03-11 20:30] scottyinzeo commented on #44
Looking great!! Thank you thank you thank you!

[2019-04-12 19:41] RebelCoderRU opened #45 "Auto Push/Pull Config"
Hello.

By reading the dock I tried to configure auto-push (when saved) and auto-pull, when changes on the server are detected. But it does not seem to do that, I have to keep SAVE + PUSH, and PULL manual. Is it possible to fully automate this so it is close to real-time collaboration?

[code]

Thanks!

[2019-04-14 18:54] webtop opened #46 "Line endings not converted between systems"
- Push version: `0.6.25`
 - VS Code version: `1.33.1`
 - Have you disabled all other extensions and can replicate: No

**Steps to replicate:**
Setup a remote Linux server to deploy to
Run VSC in Windows
Setup a Push config file to push files to the server
Add a Watch on a file (I'm using Python)
Save file with Windows line endings
After push to Linux, check file line endings (they will still be DO

[2019-04-16 20:04] njpanderson commented on #46
Hi @webtop - Thanks for submitting the issue. From what I can tell, you're after a way to convert line endings at the point of uploading, is that correct?

I wonder, if that is the case, whether this is correct to be within the remit of Push, and not vscode itself when managing the files? It feels like I might be opening a lot of problems not only with speed but reliability if Push started manipul

[2019-04-16 20:08] njpanderson commented on #45
Hi there @RebelCoderRU - Thanks for submitting the issue!

If I'm understanding this correctly, you're wanting Push to automatically detect file changes on the remote server. That functionality doesn't currently exist in Push and I don't have any plans to add it. To do so would likely require some kind of monitoring agent on the server side which could report file changes. Is there an extension wh

[2019-04-17 01:40] webtop commented on #46
I know what you mean. Why can’t vscode detect the OS or even read from configuration, and change the encoding?

The issue became apparent in a Python app I’m writing. Right now every time I save a file and it pushes, if the file has the executable bit set, I have to run dos2unix on the file.

I have a workaround in watching the folder, and running it automatically now, but if rather not have to.

[2019-04-17 02:06] jimmydye opened #47 "don't have passive mode when service is File，so always failed"
- Push version: `#.#.#`
 - VS Code version: `#.#.#`
 - Have you disabled all other extensions and can replicate: [Yes|No]

**Steps to replicate:**

**Any other information?**

[2019-04-17 06:32] njpanderson commented on #47
Not sure I understand what you mean there @jimmydye - "Passive" mode is usually a term associated with FTP. File is a straight filesystem transfer, the intricacies of which are handled by the underlying operating system.

Do you have a replicatable example I can use?

[2019-04-17 06:39] njpanderson commented on #46
Hmm, I was under the impression it could! I guess it's not as simple as just doing things automatically though.

With this step, is it essential that you save the file with Windows line endings? Why not save them with unix ones? (I don't know the Windows workflow as well, but whenever I use it at work, we have to ensure our files are saved with unix line endings anyway, even if uploading Windows >

[2019-04-18 07:18] jimmydye commented on #47
I'm english not good... so don't care
I suppose File Mode = FTP Mode?
I need to connect FTP server，but I don't know how to connect?

[2019-04-18 09:16] jimmydye commented on #47
And another question：
I have three servers，when I upload either，Upload queue will clear，so I can't upload another two by queue....
Upload queue really very nice but not very friendly to multiple servers

[2019-04-19 17:34] njpanderson commented on #47
Is it possible that you're trying to use an FTP server, and not an SFTP server?

Push does not support standard FTP, only SFTP.

[2019-04-20 06:04] #40 closed

[2019-04-21 11:09] #13 closed

[2019-04-21 11:09] #28 closed

[2019-04-21 11:09] #30 closed

[2019-04-22 02:30] jimmydye commented on #47
Now, I have three SFTP server, and when I upload either,The upload queue will be empty, so I can't upload another two server by upload queue, Can you add the option of automatically emptying the queue?

[2019-04-22 06:37] njpanderson commented on #47
Ah, I see what you're wanting - to upload to all three servers with the same queue contents?

This is more of a deployment concern and instead of using Push for this, you might want to look into something like a deployment tool like [capistrano](https://capistranorb.com) or [ansible](https://www.ansible.com) which essentially let you deploy to multiple servers with scripts.

If you're not wanting

[2019-04-22 06:58] jimmydye commented on #47
Thank you for your reply
Yes, I have deployment software, version control software, etc...
But I still hope them to focus on vscode
Or can you add a function/right-click menu to upload multiple opened files at a time
That's really good for me

[2019-04-22 07:23] njpanderson commented on #47
I've been wanting to do that for a while but I don't think vscode supports operations on multiple files as of yet. It will only give you the file actually clicked on, not the selection range.

It's not very well detailed in the README, but Push does have Git based uploading tools: you can upload from either the current working copy (files which have been edited but not committed) or from a single

[2019-04-22 07:39] jimmydye commented on #47
Thanks for your answer
If Push add the option of automatically emptying the queue, It's also good for me, just for others, I'm not sure

[2019-05-14 13:34] Zenoo commented on #39
@njpanderson Has this functionality been added yet? The milestone shows 1.6.3 but I can't find any option to achieve it.
Would this allow me to watch the whole project opened on vscode ?

[2019-05-14 14:13] Zenoo opened #48 "persistWatchers not working"
- Push version: `0.7.2`
 - VS Code version: `1.33.1`
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**
- Watch a file/folder
- Restart VSCode
- The watched files list is now empty

**Any other information?**

Here are the settings I'm using:

[code]

[2019-05-14 18:30] njpanderson commented on #39
Hi there @Zenoo - that milestone was out of date. I don't really use it much!

The functionality to watch is already in Push, this issue is specifically to be able to define watchers within a service file.

If you want to watch a whole project, just add a watcher for the root folder (by right clicking in the empty area of the project explorer) and make sure the "Persist Watchers" option is active

[2019-05-15 06:56] Zenoo commented on #39
Yes, I was talking about defining them in the config file.

Thanks for the tip on the root folder, didn't know that ! (The Persist Watcher doesn't work though, as mentioned in #48)

[2019-05-15 07:19] njpanderson commented on #48
Hey there, it looks like you’re using the service file to set that option, but it’s a global push option:

https://github.com/njpanderson/push/blob/develop/README.md#extension-settings

You set this in either your global or workspace preferences for vscode.

[2019-05-15 08:32] Zenoo commented on #48
Oh yeah I got confused, it works. Thanks !

[2019-05-15 08:32] #48 closed

[2019-05-15 08:33] Zenoo opened #49 "French translation"
I would be up to translate the extension in French.
I'm a native speaker, it shouldn't really be an issue.

[2019-07-09 11:47] Jonas1312 opened #50 "Error: Cannot parse privateKey: Malformed OpenSSH private key. Bad passphrase?"
- Push version: `0.7.2`
 - VS Code version: `1.36.0`

I have the following error:
[code]

.push.settings.jsonc:
[code]

When I enter my private ssh key passphrase it works perfectly. However, connecting to this server should not require a ssh key as I'm already providing a username/password.

The ssh key located in c:\users\username\\.ssh should not be read at all if the user provides a username a

[2019-07-25 07:54] demolitions commented on #45
AFAIK no IDE has this specific function, one instance I found something barely similar is an old NetBeans plugin which simply pulls the file when the editor receives focus, and if the file differs (and is not "dirty" in the editor) replaces the local file with the remote.
IIRC the plugin has been discontinued years ago (NetBeans 7 i think) because it was too CPU consuming compared with the benefit

[2019-07-25 08:00] demolitions opened #51 "privateKey config with variables"
Does Push expand variables when searching for the privateKey file?
Since I have for some projects a specific private key to SFTP into the server, I keep them in the .vscode directory inside the project.
I tried configuring both a relative path (understandably does not find the file), and with the ${workspace} variable, (`"privateKey": "${workspace}/.vscode/ssh/id_rsa"`) but the only way Push manag

[2019-08-06 06:47] Indigo744 opened #52 "Feature : allow to use Pageant (putty SSH agent) on Windows ?"
Hello,

Nice extension.

I have a feature request: on Windows, most of my tools  use Pageant (the putty SSH agent) to get the SSH keys in order to connect to the server.

Would it be possible for Push to support this as well?

Thanks.

[2019-09-23 02:56] jleahy2 opened #53 "Queue Watcher Persistance Not Working"
- Push version: `0.7.21`
 - VS Code version: `1.38.1`
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**

- Enable 'Persistent Watchers' in preferences
- Open project, make a change in a watched directory/file
- Save file change
- 'Push' recognizes change, and places file in Queue
- Open another project up
- Return to previous project that had file Queued up

[2019-11-09 21:42] danchaseCTS opened #54 "Warns of newer file because it is not setting the date in sftp to the original timestamp"
- Push version: `0.7.21`
 - VS Code version: `1.40.0`
 - Have you disabled all other extensions and can replicate: [Yes|No] Yes

**Steps to replicate:**
Upload a file that in Windows says any prior date, and it warns that the one it's replacing appears to be newer. When the upload is complete, the timestamp on the file on the server is unchanged.

**Any other information?**
I would have expected i

[2019-11-09 21:53] danchaseCTS opened #55 "It would be nice if it would tell you transfer succeeded."
- Push version: `0.7.21`
 - VS Code version: `1.40.0`
 - Have you disabled all other extensions and can replicate: [Yes|No] Yes

**Steps to replicate:**
Upload a file, it just says:
Running 1 task in queue...
ℹ️ SFTP client connected to host ustaclubs.com:22

But does not tell you if/when it's complete?

**Any other information?**

[2019-11-09 21:54] danchaseCTS opened #56 "Does not work for multiple selected files"
- Push version: `0.7.21`
 - VS Code version: `1.40.0`
 - Have you disabled all other extensions and can replicate: [Yes|No] Yes

**Steps to replicate:**
Select two files and click Upload.

Only uploads one of them.

**Any other information?**

[2019-11-10 07:54] njpanderson commented on #56
From what I understand, vscode still doesn't send more than the actual file you clicked on in the explorer menu when right clicking on a file. That situation may have changed in recent times. Feel free to let me know by reopening this issue if that is the case.

https://code.visualstudio.com/api/references/contribution-points#contributes.menus

[2019-11-10 07:55] njpanderson commented on #55
This is an option as described in the readme. Push is subtle by default (`queueCompleteMessageType`)

https://github.com/njpanderson/push

[2019-11-10 07:55] #55 closed

[2019-11-10 07:55] njpanderson commented on #53
I have not been able to replicate this with multiple tests. Apologies, but if you ever do create a repeatable test, let me know.

[2019-11-10 07:55] #53 closed

[2019-11-10 07:57] njpanderson commented on #54
The timestamp on the server not changing would be possibly something to do either with the sftp subsystems or the server, neither of which I have any control over.

Can you try another server type (unix) and let me know if it works there? Ideally it should work on all SFTP compatible systems but there will always be edge cases :)

[2019-11-10 07:58] #49 closed

[2019-11-10 18:28] danchaseCTS commented on #54
Heya, decided not to be a lazy complainer, and found this issue open on the ssh2 library you're utilizing:

https://github.com/theophilusx/ssh2-sftp-client/issues/15

Seems they can't do it, and are suggesting to use utimes() in order to update the timestamp afterwards.

So I looked at what sftp put -P does:
put [-P] local-path [remote-path]
Upload local-path and store it on the remote machine. If

[2019-11-10 19:04] njpanderson commented on #54
The odd thing is I've never found an equivalent -p option to be needed within Push. I'd tested all the forms of collision and all of the overwrite options with and without timestamp enforcement, to 100% success.

I wonder if there is something you can maybe manipulate on the server side to avoid the collision dialog popping up without having to pre-request overwrites in the settings (although I su

[2019-11-10 21:38] danchaseCTS commented on #56
I've created a fix for this, just trying to figure out the pull request for the first time. Coming from my local repository, am I to push straight to develop? My branch is called /feature/MultiFileUpload

[2019-11-10 22:17] njpanderson commented on #56
Do a PR into develop and I’ll take a look when I can. Will be interested to see!

[2019-12-09 17:14] thecesspit opened #58 "Inactive notification when pushing files after a short period of inactivity."
- Push version: `0.7.21`
 - VS Code version: `1.40.2`
 - Have you disabled all other extensions and can replicate: [Yes]

**Steps to replicate:**
-- Probably a configuration setting issue that I can't find the right setting.

Almost every time I push updates to my one environment I get the message"
"The environment "dev" has been inactive for XXXX seconds.  Should Push continue this transfer?"
 It

[2019-12-10 20:59] gmsetta opened #59 "Installed and now? Where do I go? What could I do to make it work?"
And don't have a clue about version and stuff. All I want to do is to use it. I've downloaded today.

So, it's installed. And now where do I go? How I configure it? Where I find it in VS Code???

 - Push version: `#.#.#`
 - VS Code version: `#.#.#`
 - Have you disabled all other extensions and can replicate: [Yes|No]

**Steps to replicate:**

**Any other information?**

[2019-12-10 21:51] njpanderson commented on #59
Hi there, this section if for reporting bugs only. If you’re after user guidance, please check the [readme](https://github.com/njpanderson/push).

[2019-12-10 21:51] #59 closed

[2019-12-10 21:52] gmsetta commented on #59
Ok, never mind. Uninstalled anyway. Thks.

[2019-12-10 21:53] njpanderson commented on #58
Hi there, the readme has information on how to use this. Just look under the [general service settings](https://github.com/njpanderson/push/#general-service-settings) for “reminder” and “reminderTimeout”.

[2019-12-10 21:53] #58 closed

[2019-12-11 00:10] thecesspit commented on #58
Thank you, I had indeed failed to find this item.

[2019-12-27 20:47] njpanderson commented on #56
This should now be in v0.7.3. Thanks for flagging!

[2019-12-27 20:47] #56 closed

[2019-12-27 20:48] njpanderson commented on #54
Update: I've noticed the SFTP js client has incremented quite a bit since last use, so I'll look into upgrading it when I can.

[2019-12-27 20:49] njpanderson commented on #52
Hey @Indigo744 — If you're still interested, how would you see this working? (I'm not entirely sure what you mean here and I don't have a lot of Windows experience). How is this different from a normal SSH key pair?

[2019-12-27 20:50] #47 closed

[2019-12-27 20:51] njpanderson commented on #50
Hi @Jonas1312 can you confirm if this still happens in the latest version? If you're no longer using it fair enough, just drop me a note :)

[2019-12-28 08:57] Jonas1312 commented on #50
Thanks for your answer @njpanderson. Unfortunately I'm not using this extension anymore and I don't have a remote server to try the latest version, sorry.

[2019-12-28 08:57] #50 closed

[2020-01-04 18:28] jimmybrancaccio opened #67 "fileMode - Permissions Not Being Set"
- Push version: `0.8.0`
 - VS Code version: `1.41.1`
 - Have you disabled all other extensions and can replicate: No

**Steps to replicate:**

1. Setup an SFTP location.
2. Create a PHP file, `index.php` for example.
3. Add the following fileMode settings:

[code]

Save/upload the file via Push. For me the permissions on my `php` files are 666. Actually it seems to set 666 for any files I upload.

[2020-01-04 18:50] njpanderson commented on #67
Hey @jimmybrancaccio — Globbing has changed a little since the 0.8.0 update, as I'm using a newer version of micromatch. (See changelog). I've just tested with the following:

[code]

And the result of `stat -c "%a %n" *` on the directories seems as expected:

[code]

Using your `fileMode` settings above gives me the following:

[code]

The one file which didn't seem to work was the PHP file, havi

[2020-01-05 11:38] swifft17 opened #68 "The file "undefined" could not be found."
- Push version: `0.8.0`
 - VS Code version: `1.41.1`
 - Have you disabled all other extensions and can replicate: No

**Steps to replicate:**
{
  "env": "www.xxxxxxx.com",
  "www.xxxxxxx.com": {
    "service": "SFTP",
    "options": {
      "host": "www.xxxxxxx.com",
      "port": 22,
      "username": "xxx",
      "password": "xxx",
      "root": "/var/www/test",
      "collisionUploadAction": "o

[2020-01-05 14:04] njpanderson commented on #68
Hi @swifft17 — how are you starting the upload? Which UI are you using and how many files are selected at the time?

[2020-01-05 14:08] swifft17 commented on #68
I'm using the button, 1 file. And turns out Ctrl+Alt+U is working.

[2020-01-05 19:50] njpanderson commented on #68
@swifft17 this is fixed in 0.8.1 — thanks for reporting!

[2020-01-05 19:50] #68 closed

[2020-01-06 01:17] jimmybrancaccio commented on #67
Hey @njpanderson! Apologies for **my** slow response. I got busy too haha Anyways, that seems to have done the trick, now my files are 644 and no more Internal Server Errors. I appreciate the quick response and help from you. Keep up the great work on this extension, I ❤️ it!

[2020-01-06 01:17] #67 closed

[2020-01-10 21:52] aaroncrawford opened #69 "Watched files not uploading. this.upload is not a function"
- Push version: `0.8.2`
 - VS Code version: `1.41.1`
 - Have you disabled all other extensions and can replicate: [Yes]

I've just begun getting the following error after setting up a watch on a CSS file.  After editing a SCSS file and having this CSS file change via webpack, the following is thrown.  I have disabled every other extension and do not receive this error, however the file still does

[2020-01-20 07:11] DaveWoody commented on #69
Got the same issue. Currently uploading the files manually again.

[2020-01-23 18:31] darklord1807 commented on #69
same issue. any fix?

[2020-02-08 18:56] njpanderson commented on #69
Oh my, apologies guys. This issue landed in my Junk mail!

Will look at it right now.

[2020-02-08 19:38] njpanderson commented on #69
Fixed in 0.8.21. Thanks for reporting.

[2020-02-08 19:38] #69 closed

[2020-03-05 00:12] chrischain opened #70 "Push to SMB share from Mac"
- Push version: `0.8.21`
 - VS Code version: `1.42.1`
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**
I am attempting to configure Push to send files from my Mac to an SMB share. I've set up the .push.settings.jsonc file as follows:

`
"root": "smb://IISSHARE01658.mycompany.com/WebDev$/easy.dev.mycompany.com/"
`

But when I attempt to push a file, I get th

[2020-03-05 07:06] njpanderson commented on #70
Hi @chrischain - no problem, I can try to make it clearer in the next readme, but Push doesn’t natively support SMB in that sense.

What you do is connect to the SMB server with Finder (CMD-k) and then use a “File” connection in Push with the mounted path as the Push root path. Usually something like `/Volumes/mountpointname`.

So in your case probably something like `/Volumes/IISSHARE01658/WebDev

[2020-03-05 16:00] chrischain commented on #70
Ah, that got it of course. Thanks for the info!

[2020-03-05 16:00] #70 closed, assigned to nobody

[2020-04-03 22:22] joshuaiz opened #72 "Saved files not being added to upload queue."
- Push version: `0.8.21`
 - VS Code version: `1.43.2`
 - Have you disabled all other extensions and can replicate: No

**Steps to replicate:**
1. Create Push config file
2. Edit then save file.
3. Try to push using 'Control-Command-P' on macOS
4. Get error 'Queue is empty'.

**Any other information?**
Working on other projects in VSCode. What am I missing here?

Thanks!!

[2020-04-18 16:21] d1nd141 opened #73 "Remote execute command after upload"
Hi,

it would be nice to have a feature to execute a remote ssh command after upload.
F.ex. we need to push configuration files to our Splunk deployment server, then execute a command to force distribution (reload).

Thanks

[2020-04-18 19:17] njpanderson commented on #73
Hi there @d1nd141 — Thanks for your interest in Push!

While that is an interesting idea, the goal of Push is to keep it simple and predictable. If you're after execution of commands etc on a server, you might want to look into a deployment process more like [Capistrano](https://capistranorb.com) or [Ansible](https://github.com/ansible/ansible), or a Continuous Integration solution such as those w

[2020-04-18 19:17] #73 closed, assigned to nobody

[2020-04-21 12:19] jimmybrancaccio opened #74 "How to Reconnect to Remote SFTP Server"
- Push version: `0.8.21`
 - VS Code version: `1.44.2`
 - Have you disabled all other extensions and can replicate: [Yes|No] No.

**Steps to replicate:**

I believe this is due to time/timeout. I left my MacBook overnight closed, and in the morning I couldn't upload new files. I get the following when I save a file (I have it upload on save):

[code]

So, my question is, how to reinitiate the conne

[2020-05-04 13:09] Flobbos opened #75 "Push can't handle symlinked directories"
Error: sftp.mkdir: Failure /path/to/symlinked/directory

- Push version: `0.8.21`
 - VS Code version: `1.44.2`
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**
Create a symlinked directory on the remote server. Try to upload files to it.

**Any other information?**
Downloading existing files from the same path works. After downloading first, push seems to r

[2020-06-10 10:29] martbean commented on #67
Thanks for this. I just had the same problem as I was using the examples on the main page. Could you update that with the new syntax please?

[2020-06-30 14:57] benmaximov opened #76 "Push hangs after inactivity"
- Push version: `0.8.21`
 - VS Code version: `1.46.1`
 - Have you disabled all other extensions and can replicate: [No]

**Steps to replicate:**
1. setup push with password SFTP access
2. keep alive set to 3000ms
3. inactivity period ~30 min

**Any other information?**

last debug msgs:

ProviderSFTP: "DEBUG: Parser: Verifying MAC"
ProviderSFTP: "DEBUG: Parser: IN_PACKETDATAVERIFY (Valid HMAC)"
Pr

[2020-07-21 07:48] joehanna opened #78 "Feature: Local/Remote side-by-side file explorers"
- Push version: `0.0.16`
 - VS Code version: `1.47.2`

Push has been the final nail in Coda 2's coffin for me. The queued FTP experience was lacking from VS Code which made it hard for me to switch. Now I can - so thank you!

The other feature I found extremely useful (and I miss from Coda 2) is the side-by-side explorer of local vs remote file systems. I can traverse folders in both windows and I

[2020-07-21 11:32] renehanika opened #79 "How to add service environment string to shortcut command as argument"
Hi,

I have two different environments and try to use shortcuts for switching between them:

`{
        "key": "alt+q",
        "command": "push.setServiceEnv",
	"args": "prod"
    },
`

How can I give the environment string as an argument to the command, this one is not working - I have still to select the environment using the mouse or keyboard from the command palette list.

[2020-07-22 06:15] joehanna opened #80 "Reduce/Eliminate prompts to confirm transferring queued files"
- Push version: `0.8.21`
 - VS Code version: `1.47.2`
 - Have you disabled all other extensions and can replicate: [Yes|No] NO

Step to replicate:
1. Transfer queued files that have changed (I use the Mac keyboard shortcut)
2. Edit some files and save them. Allow 10-15 seconds or so to transpire and then send the queued files.
3. Notice the prompt

![image](https://user-images.githubusercontent.co

[2020-07-22 06:20] njpanderson commented on #80
Hi there, this can be controlled by the “reminder” option in the service configs. Thanks!

[2020-07-22 06:20] #80 closed, assigned to nobody

[2020-07-22 06:21] joehanna commented on #80
Thanks for the quick response!

[2020-07-22 06:21] njpanderson commented on #78
Thanks for the request—will consider!

[2020-07-23 17:41] timothevs opened #81 "For Watched Folders - always ~ Push: Queue is empty."
- Push version: `0.8.21`
 - VS Code version: `1.47.2`
 - Have you disabled all other extensions and can replicate: [Yes]

**Steps to replicate:**
Added two folders for minified CSS and JS (using Codekit) to the watched folders. Upon compiling with Codekit, with active changes the  push doesn't fire.
I save the scss file, Codekit fires, compiles puts it back in the directory called `css`, seems lik

[2020-07-30 14:27] #79 closed, assigned to nobody

[2020-08-07 17:22] plueschpruem opened #83 "Environment Label not showing reliably"
- Push version: `0.8.21`
 - VS Code version: `1.47.3` (OSX 10.12.6)
 - Have you disabled all other extensions and can replicate: [No]

**Steps to replicate:**
Make new folder, open with VSC, add push config with 2 environments, wait for selected environment to show up in the toolbar. It doesn't.

Switching it OFF/ON some times globally and for the user _sometimes_ makes the label appear.
But not r

[2020-08-07 19:19] njpanderson commented on #83
Due to the way Push works, it’ll only show the environment while a file is open. Is a file open when you try this?

Sent from my iPad

[2020-08-07 21:39] plueschpruem commented on #83
aaah! Thanks! Works now.

[2020-08-08 09:18] #83 closed, assigned to nobody

[2020-09-17 23:17] plueschpruem opened #84 "Push fails uploading in cascading FILE -> SFTP watchers"
- Push version: `0.8.21`
 - VS Code version: `1.49.0`
 - Have you disabled all other extensions and can replicate: [No]
- OSX 10.12

**Steps to replicate:**
Have Webpack compile -> TargetDir is watched by Push FILE service -> shove it all over to the public folder -> Push SFTP service uploads to public server.
It works just fine for a bunch of files (let's say 3 .css and 3 .map files from LiveSASS

[2020-09-18 09:39] plueschpruem opened #85 "Is it possible to use environmental variables in the Push configuration?"
I want to set an environmental variable in `settings.json` and use it to chose my Push environment (and also be used by webpack, etc.).
`${VARNAME}` or `${env:VARNAME}` does not work (just returns the expression as a string), so am I missing anything here, or is it just not possible?

[2020-10-12 21:10] karenpayneoregon opened #86 "Issue with step 2 in quick setup"
First off, thanks for writing this extension.

 - Push version: v0.8.21
 - VS Code version: 1.50.0
 - Have you disabled all other extensions and can replicate: [Yes|No]

**Steps to replicate:**
Under "Quick setup" step 2 when performed results with the following message

a folder for creating a service file could not be found

**Any other information?**
Been using Visual Studio for years, this is

[2020-10-12 21:27] njpanderson commented on #86
Hi there - odd! Do you definitely have a folder or project from your file system open?

[2020-11-25 09:05] plueschpruem opened #87 "Empty folders are ignored and not uploaded"
- Push version: `latest`
 - VS Code version: `latest`
 - Have you disabled all other extensions and can replicate: [Yes]

**Steps to replicate:**
Make an empty folder. Add another empty folder into it.
Upload the outer folder - nothing will transfer.

This is kinda annoying sometimes, for example with a PHP library I use that expects an empty cache folder to exist in a certain place.
Maybe make th

[2021-01-07 02:27] atageldi194229 opened #89 "proxy error"
**I use internet via proxy server and push extension is not connecting to the server, please add proxy configuration, thanks**

[2021-02-01 09:00] LeoVardan opened #90 "FTP transfer support"
Some remote host don't allow to use SFTP. Only FTP.

[2021-03-10 09:42] swayhead opened #92 "Root set to "/" not working"
- Push version: `0.8.21`
 - VS Code version: `1.54.1`

**Steps to replicate:**
Service: SFTP
I set "root" to "/" (which is actually default).
Trying to upload i.e. /htdocs/test.html results in:  Error: sftp.mkdir: Failure /htdocs/test.html/
It's not allowed to leave "root" blank.
Just to check that the transfer works, I set root to "htdocs". The upload succeeds: on the server side it's now /htdocs

[2021-03-14 17:53] njpanderson commented on #92
Have you tried setting the root to `/htdocs`? Sounds like you're chrooted in that SFTP account but `/` might not be the right path to use here.

Please paste your Push config (with any sensitive information redacted), the path location of the settings file within your project and the result of `pwd` over the ssh connection to the server if you are able to.

[2021-03-14 17:53] #90 closed, assigned to nobody

[2021-03-14 17:54] njpanderson commented on #89
Hi there, unfortunately Push doesn't support this and I have no plans to add support for it.

[2021-03-14 17:54] #89 closed, assigned to nobody

[2021-03-14 17:55] njpanderson commented on #90
Hi there, unfortunately Push doesn't support this and I have no plans to add support for it.

[2021-03-14 18:04] njpanderson commented on #87
Hi there @plueschpruem  — thanks for the report.

Push operates on the basis of files, not folders. If a file is in the folder (such as .gitkeep) then it would upload without issue. This would also mean your folder could be stored within the CVS repo without issue as well.

Having a look through the code, I would need to make quite a few changes for this feature, for which I believe the potential

[2021-03-14 18:04] #87 closed, assigned to nobody

[2021-03-14 18:04] #86 closed, assigned to nobody

[2021-03-14 18:05] njpanderson commented on #85
Hi there, apologies for the late reply, but you are correct in that it is not supported.

[2021-03-14 18:05] #85 closed, assigned to nobody

[2021-03-14 18:07] njpanderson commented on #84
That is odd. I've not had this issue myself but have not tested with more than a 10 or so outputted files by webpack. 60 is definitely an edge case!

The queue should be able to handle quite a few files in it (I have tested with over 3,000), but the client disconnect is suspicious.

What happens when you upload a large amount of files normally, without the watcher, to this server?

[2021-03-14 18:14] njpanderson commented on #81
If you're seeing "Queue empty" it means Push is attempting to upload the contents of the Queue, but then not seeing any items.

If this upload isn't something you're triggering, then it's likely the result of the detected file changes in the watched folder. However, the queue being empty isn't helpful at all.

If you're still wondering about this, could you let me know what the queue looks like on

[2021-03-14 18:15] njpanderson commented on #76
That may be normal behaviour — does it re-connect when you attempt to upload though?

[2021-03-14 21:51] swayhead commented on #92
Setting root to `/htdocs` results in what I mentioned in the first post: a nested folder `/htdocs/htdocs`.

Here goes the config:
[code]
Commenting out the root option does the same.
The settings file is in the project root: `E:\<PROJECT_NAME>\.push.settings.jsonc`
The document root: `E:\<PROJECT_NAME>\htdocs\`
The SFTP root on the server: `/var/www/<CLIENT_ID>/`
The docroot on the server: `/var/w

[2021-03-14 22:02] njpanderson commented on #92
Thanks for the further info!

Have you tried setting the root to the full path on server? I.e `/var/www/<CLIENT_ID>/htdocs`?

That’s the setting most likely to work. What do you get when it’s set like that?

[2021-03-15 08:28] swayhead commented on #92
So, here are some new evidences:
On Mac it works with the same configuration.
On Windows it creates on the server side an empty **directory** (!) `/htdocs/test.html/` when I try to upload a **file** `test.html`. Then it comes with `Error: sftp.mkdir: Failure /htdocs/test.html/`.
Unfortunately, setting the root to the full path does not work. I assume, that´s because the SFTP connection does not re

[2021-03-15 17:01] plueschpruem commented on #84
OK I just created a basic project with 2 folders and settings:
[code]

**.push.settings.jsonc [A]**
[code]

**.push.settings.jsonc [B]**
[code]

**Saving source/mytest.txt copies it to /server…**
_Running 1 task in queue...

**…but then fails the FTP part**
Running 1 task in queue...
_ℹ️ SFTP client disconnected from host ftp_hostname:22
ℹ️ SFTP client disconnected from host ftp_hostname:22
⚠️ Err

[2021-03-15 19:01] njpanderson commented on #84
Seems like the underlying SFTP library is having difficulties. I'm experimenting with version 6 here but in the mean time, have you tried turning debug mode on? (`debug` in the server settings). This will give you more output on the transfer in the Push panel of the vscode output console.

[2021-03-16 10:17] plueschpruem commented on #84
Seems possible, because right now I only get
`⚠️ TypeError: Cannot read property 'service' of null`
no matter what I do.

And now that I tun on debugging, it worked once! :-)

[code]

Now I am back to
`⚠️ TypeError: Cannot read property 'service' of null`

[2021-03-19 20:44] alv909 commented on #45
I believe @RebelCoderRU made the mistake of putting two issues into one, thereby the main one (IMHO) of simply "configure auto-push (when saved)" got skipped over by accident. This also does not work for me, to auto-upload change-saved files. Push auto-queues but does not auto-upload for me. Here is my push.settings.jsonc... how can I get it to auto-upload?

Second question but very close: watcher

[2021-03-25 10:19] alv909 opened #93 "Auto-Upload and Watch Merges"
Push auto-queues but does not auto-upload for me. Below is my push.settings.jsonc... how can I get it to auto-upload?

"env": "dev",
	"dev": {
		"service": "SFTP",
		"options": {
			"reminder": true,
			"host": "***",
			"port": 22,
			"username": "***",
			"password": "***",
			"root": "***",
			"autoUploadQueue": true
		}
	}

Second question but very close: watcher does not detect when I merge c

[2021-05-10 19:30] Pacerino commented on #52
Hey @njpanderson

I'm not sure if this repository is still active, but I would appreciate it if it is!

Well, I think what @Indigo744 means is that you load the SSH key into Pagent and it is then forwarded when you log in (through sockets etc.). I log in to my server using SSH key. However, this is on my YubiKey so I always have to use the pagent. Unfortunately your extension requires either a pas

[2021-05-22 15:07] njpanderson commented on #52
Hi there @Pacerino — thanks for getting back to me. Unfortunately I'm really not sure what you mean by this. Are you aware that you can provide a path to the SSH key being used within Push at either the general settings, workspace settings, or within each of the server configs?

I'm afraid I don't have much time to work on this anymore, but I am happy to accept PRs if you ever do figure out how to

[2021-05-31 16:27] JimNayzium commented on #76
Are you saying "attempt to upload" meaning something different from "saving" a file and expecting it to connect and upload automatically?

What happens to me is I edit my files, and save them as I go. Then refresh the browser and see the changes. And after a few minutes the auto-upload after saving just spins and never works. So I have to close VSCODE and re-open it and it all works instantly agai

[2021-06-15 16:49] JimNayzium opened #100 "Can't make fileMode set php to anything other than 666?"
- Push version: `0.8.21`
 - VS Code version: `Version: 1.57.0`
 - Have you disabled all other extensions and can replicate: [Yes]

**Steps to replicate:**
- Installed PUSH. Loaded SFTP settings from the instructions. Connected to server successfully. Open new file and write simple html file with zero tags with "Hello" and hit save and name file hello.html. It loads perfectly in browser.
- Do the e

[2021-06-15 19:34] JimNayzium commented on #100
I SOLVED THIS - because I am an idiot!!

It's important to haver the fileMode: chunk INSIDE THE OPTIONS chunk in your JSONC file!!! I didn't have that in the above options... putting it there and making the commas all be correct made it work right and uploaded the PHP files with 644 permissions.

[2021-06-21 15:43] JimNayzium commented on #76
Any word on this? I will re-explain my steps to recreate.
Work in VSCODE on files. Save them. They auto-upload instantly and perfectly. Refresh Browser to preview changes. Then work in VSCODE again for maybe ten or fifteen minutes before saving again and then the upload spins forever and never connects and uploads. I must close VSCODE and re-open and then it works perfectly again. The Output says

[2021-06-21 15:54] njpanderson commented on #76
hi Jim — sorry, I've not had any time recently to look at Push in any meaningful way. It's a personal project, and I'm in the middle of a house move—we've unfortunately suffered a bereavement too. If you do however find any solution to this, I would be more than happy to review a PR if you manage to sort it.

In the meantime I'd recommend trying debug mode on the server settings and looking at the

[2021-06-21 16:18] JimNayzium commented on #76
Sorry for your loss. Sincerely. I had a recent similar thing. Also, NO WORRIES! That's why I waited a few weeks to even repost the question. Your extension is awesome even with the disconnects. VSCODE reloads instantly as an app so it's honestly not even a big thing. It's just sometimes I get annoyed my little semi-colon fix didn't actually solve my problem when I refresh the browser but then real

[2021-07-21 10:20] DizzyaKZ opened #101 "Question: How to save watching file list to have it active after VS Code restarting?"
- Push version: `v0.8.21`
 - VS Code version: `Version: 1.58.2`
 - Have you disabled all other extensions and can replicate: [Yes]

Hello. This is mostly the question and not an issue yet. How I can save the list of watching files, to have them back after VS Code restarting? Currently I need to mark the files again for pushing after restarting.

Thanks.

[2021-09-11 20:51] loquanet opened #102 "Upload resets permissions and \r return code"
- Push version: `latest'
 - VS Code version: `1.6`
 - Have you disabled all other extensions and can replicate: [YES]

**Steps to replicate:**
Upload any or queue any file.
**Any other information?**
###ISSUE 1
The script.sh file is uploaded and +x is already set at the linux ssh destination. After upload the persmission is reset to rwrwrw not my original 777 permission.
###ISSUE 2
The 2nd issue i

[2021-12-21 06:12] jaycee04 opened #104 "Handshake failed"
I dont know where i am wrong?

please check the config i have

![image](https://user-images.githubusercontent.com/13114082/146880607-e9ad4f32-6c68-47e6-b422-38cf689c6269.png)

This is the error i got
[code]

[2022-04-01 21:46] chrischain opened #111 "macOS Big Sur => Windows Share = permission denied"
- Push version: `0.8.21`
 - VS Code version: `1.66`
 - OS: macOS Big Sur 11.6.4
 - Have you disabled all other extensions and can replicate: Yes

**Steps to replicate:**

1. Configure a windows server share drive as a mapped volume in macOS.
2. Configure push.settings.jsonc with the path to this volume as the root value (i.e. "root": "/Volumes/my.windows.share.com". No other options are configured

[2022-04-04 17:09] chrischain commented on #111
Nevermind... seems to have been fixed with a reboot.

[2022-04-04 17:09] #111 closed, assigned to nobody

[2022-04-09 07:18] AndreyAtGitHub opened #113 "Comparing local with remote file performing incorrectly if code page not UTF-8"
- Push version: `0.8.21`
 - VS Code version: `1.66.0`
 - Have you disabled all other extensions and can replicate: [Yes]

**Steps to replicate:**
1. In VC Editor, use the codepage for local file different from UTF (windows-1252 for ex);
2. Publish the file to remote host;
3. Compare the file with remote host;
4. All strings marked as different cause of wrong charset.
**Any other information?**
![c

[2022-07-23 01:48] brunokc commented on #39
I know this is old, but I wanted to add that I just spent an hour looking for that tip on how to add a watcher to the root of the workspace. Did I miss it in the documentation, perhaps? Couldn't figure it out until I saw it written here.

[2022-07-24 19:44] brunokc opened #119 "Push doesn't seem to detect moved files"
- Push version: `0.8.21`
 - VS Code version: `1.69.2`
 - Have you disabled all other extensions and can replicate: No

**Steps to replicate:**

* Set up a watcher at the very root of the project
* Create a file at the root, e.g.: foo.txt
   * Push uploads the file
* Either from within VSCode or from a terminal, move the file to a sub-directory, e.g.: `move foo.txt subdir\foo.txt`

Here, it looks l

[2022-07-26 21:45] njpanderson opened #120 "Sunsetting Push"
Hello all — firstly, apologies for the radio silence on recent issues and PRs. As you can probably tell, I simply have not had the time to maintain this project.

Push was intended to exist as a) a solution to all the hard to implement or non-functional SFTP extensions within VSCode, and b) a stop-gap solution for my own purposes until more effective deployment methods became available.

With the

[2022-07-26 21:47] #39 closed

[2022-07-26 21:47] #45 closed

[2022-07-26 21:47] #46 closed

[2022-07-26 21:47] #51 closed

[2022-07-26 21:47] #52 closed

[2022-07-26 21:47] #54 closed

[2022-07-26 21:47] #72 closed, assigned to nobody

[2022-07-26 21:47] #74 closed, assigned to nobody

[2022-07-26 21:47] #75 closed, assigned to nobody

[2022-07-26 21:47] #76 closed, assigned to njpanderson

[2022-07-26 21:47] #78 closed, assigned to nobody

[2022-07-26 21:47] #81 closed, assigned to njpanderson

[2022-07-26 21:47] #84 closed, assigned to nobody

[2022-07-26 21:47] #92 closed, assigned to njpanderson

[2022-07-26 21:47] #93 closed, assigned to nobody

[2022-07-26 21:47] #100 closed, assigned to nobody

[2022-07-26 21:47] #101 closed, assigned to nobody

[2022-07-26 21:47] #102 closed, assigned to nobody

[2022-07-26 21:47] #104 closed, assigned to nobody

[2022-07-26 21:47] #113 closed, assigned to nobody

[2022-07-26 21:47] #119 closed, assigned to nobody